trunk/conversion/input/schemas/messages/COCS_HD100000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type COCS_HD100000.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT090000.xsd"/>
   <xs:complexType name="COCS_HD100000.Act">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCS_HD100000.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000.Author3" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000.Participant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000.Definition2" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.ActReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Animal">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="strainText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="genderStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthplace" type="COCS_HD100000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ANM"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Author3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCS_HD100000.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedEntity" type="COCS_HD100000.RelatedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Birthplace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="birthplace" type="COCS_HD100000.Place" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="BIRTHPL"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="act" type="COCS_HD100000.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="encounter" type="COCS_HD100000.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="observation" type="COCS_HD100000.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="organizer" type="COCS_HD100000.Organizer" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="procedure" type="COCS_HD100000.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCS_HD100000.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="supply" type="COCS_HD100000.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCS_HD100000.ActReference" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Conditions">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCS_HD100000.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="COCS_HD100000.ManufacturedProduct" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CSM"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="COCS_HD100000.Precondition2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ENT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Definition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actDefinition" type="COCS_HD100000.ActDefinition" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="INST"/>
      <xs:attribute name="contextControlCode" type="ContextControlNonPropagating" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Encounter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCS_HD100000.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000.Author3" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000.Participant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000.Definition2" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Entity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asRole" type="COCS_HD100000.Role" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asRelatedEntity" type="COCS_HD100000.RelatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="COCS_HD100000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="optional" default="ENT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.HealthCareFacility">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="COCS_HD100000.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="COCS_HD100000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="optional" default="SDLOC"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Informant12">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="patient" type="COCS_HD100000.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedEntity" type="COCS_HD100000.RelatedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="INF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.LabeledDrug">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional" default="KIND"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="healthCareFacility" type="COCS_HD100000.HealthCareFacility" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="manufacturedLabeledDrug" type="COCS_HD100000.LabeledDrug" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="manufacturedMaterial" type="COCS_HD100000.Material" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="manufacturerOrganization" type="COCS_HD100000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional" default="MANU"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Material">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional" default="KIND"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Observation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCS_HD100000.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000.Author3" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000.Participant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000.Definition2" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="COCS_HD100000.ReferenceRange2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.ObservationRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="COCS_HD100000.Precondition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Organizer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCS_HD100000.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000.Author3" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000.Participant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000.Definition2" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="component" type="COCS_HD100000.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Participant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="patientEntity" type="COCS_HD100000.Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
            <xs:element name="patientPerson" type="COCS_HD100000.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="patientAnimal" type="COCS_HD100000.Animal" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="providerOrganization" type="COCS_HD100000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Performer3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCS_HD100000.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedEntity" type="COCS_HD100000.RelatedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional" default="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maritalStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="religiousAffiliationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="raceCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ethnicGroupCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthplace" type="COCS_HD100000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="optional" default="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCS_HD100000.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCS_HD100000.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Procedure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCS_HD100000.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000.Author3" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000.Participant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000.Definition2" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="optional" default="PROC"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="COCS_HD100000.ManufacturedProduct" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRD"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCS_HD100000.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.ReferenceRange2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationRange" type="COCS_HD100000.ObservationRange" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFV"/>
      <xs:attribute name="contextControlCode" type="ContextControlNonPropagating" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.RelatedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="scopingEntity" type="COCS_HD100000.Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassMutualRelationship" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Role">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scopingOrganization" type="COCS_HD100000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.SourceOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="act" type="COCS_HD100000.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="encounter" type="COCS_HD100000.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="COCS_HD100000.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="organizer" type="COCS_HD100000.Organizer" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="COCS_HD100000.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="COCS_HD100000.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="COCS_HD100000.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControlNonPropagating" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.SourceOf3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="act" type="COCS_HD100000.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="encounter" type="COCS_HD100000.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="observation" type="COCS_HD100000.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="organizer" type="COCS_HD100000.Organizer" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="procedure" type="COCS_HD100000.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCS_HD100000.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="supply" type="COCS_HD100000.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCS_HD100000.ActReference" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Specimen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimenEntity" type="COCS_HD100000.Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="sourceEntity" type="COCS_HD100000.Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassSpecimen" use="optional" default="SPEC"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCS_HD100000.Patient" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedEntity" type="COCS_HD100000.RelatedEntity" minOccurs="1" maxOccurs="1"/>
            <xs:element name="specimen" type="COCS_HD100000.Specimen" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maxDoseQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCS_HD100000.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="consumable" type="COCS_HD100000.Consumable" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000.Author3" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000.Participant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000.Definition2" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Supply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCS_HD100000.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="product" type="COCS_HD100000.Product" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCS_HD100000.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000.Performer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000.Author3" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000.Informant12" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000.Participant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000.Definition2" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000.SourceOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="optional" default="SPLY"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationVerifier" use="optional" default="VRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
</xs:schema>