trunk/conversion/input/schemas/messages/COCT_MT080200.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT080200.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT150001UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090000.xsd"/>
   <xs:complexType name="COCT_MT080200.ActRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Natural">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asSpecimenAlternateIdentifier" type="COCT_MT080200.SpecimenAlternateIdentifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asSpecimenStub" type="COCT_MT080200.SpecimenStub" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="optional" default="ENT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional" default="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCT_MT080200.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Process">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="performer" type="COCT_MT080200.Performer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="precondition" type="COCT_MT080200.Precondition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="optional" default="PROC"/>
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.ProcessStep">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="TRNS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="actRef" type="COCT_MT080200.ActRef" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="process" type="COCT_MT080200.Process" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRD"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Specimen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="specimenNatural" type="COCT_MT080200.Natural" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf1" type="COCT_MT080200.Subject1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf2" type="COCT_MT080200.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="productOf" type="COCT_MT080200.Product" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassSpecimen" use="optional" default="SPEC"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.SpecimenAlternateIdentifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assigningOrganization" type="COCT_MT150001UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="IDENT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.SpecimenObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SPCOBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.SpecimenStub">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassSpecimen" use="optional" default="SPEC"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="specimenObservationEvent" type="COCT_MT080200.SpecimenObservationEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT080200.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="processStep" type="COCT_MT080200.ProcessStep" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
   </xs:complexType>
</xs:schema>