trunk/conversion/input/schemas/messages/COCT_HD810000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type COCT_HD810000.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT090002.xsd"/>
   <xs:include schemaLocation="COCT_MT040008.xsd"/>
   <xs:complexType name="COCT_HD810000.InformationProvision">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="performer" type="COCT_HD810000.Performer" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INFRM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD810000.InFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="verificationRequest" type="COCT_HD810000.VerificationRequest" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="optional" default="FLFS"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD810000.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="responsible" type="COCT_MT040008.Responsible" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional" default="PRF"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD810000.PrimaryPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090002.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PPRF"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD810000.Support">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="informationProvision" type="COCT_HD810000.InformationProvision" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSupport" use="optional" default="SPRT"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD810000.Verification">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="primaryPerformer" type="COCT_HD810000.PrimaryPerformer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="inFulfillmentOf" type="COCT_HD810000.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="support" type="COCT_HD810000.Support" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD810000.VerificationRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
</xs:schema>