trunk/conversion/input/schemas/messages/COCT_MT840000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT840000.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT960000.xsd"/>
   <xs:include schemaLocation="COCT_MT850000.xsd"/>
   <xs:complexType name="COCT_MT840000.Birthplace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="birthplace" type="COCT_MT840000.Locale" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="BIRTHPL"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.ContactInfo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="representedLocale" type="COCT_MT840000.Locale" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="optional" default="CON"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Employment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobTitleName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobClassCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="occupationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="hazardExposureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="protectiveEquipmentText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="employerMaterial" type="COCT_MT840000.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="employerOrganization" type="COCT_MT840000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="employerPlace" type="COCT_MT840000.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="employerPerson" type="COCT_MT840000.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="employerNonPersonLivingSubject" type="COCT_MT840000.NonPersonLivingSubject" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="employerManufacturedMaterial" type="COCT_MT840000.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassEmployee" use="optional" default="EMP"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Identifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assigningScopingOrganization" type="COCT_MT840000.ScopingOrganization" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="IDENT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.LanguageCommunication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="languageCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="proficiencyLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preferenceInd" type="BL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Locale">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asTerritorialAuthority" type="COCT_MT840000.TerritorialAuthority" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="optional" default="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.LocatedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="locatedLocale" type="COCT_MT840000.Locale" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="locationOf" type="COCT_MT840000.Location" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="optional" default="LOCE"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="position" type="COCT_MT960000.Position" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.ManufacturedMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="stabilityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asObserved" type="COCT_MT840000.Observed" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asContactInfo" type="COCT_MT840000.ContactInfo" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asEmployment" type="COCT_MT840000.Employment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asQualifiedEntity" type="COCT_MT840000.QualifiedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asIdentifier" type="COCT_MT840000.Identifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asManufacturedProduct" type="COCT_MT840000.ManufacturedProduct" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asOwnedEntity" type="COCT_MT840000.OwnedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPartOfWhole" type="COCT_MT840000.PartOfWhole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="placeOfDeath" type="COCT_MT840000.PlaceOfDeath" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="relatedEntity" type="COCT_MT840000.RelatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="COCT_MT840000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="parts" type="COCT_MT840000.Parts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="locatedEntity" type="COCT_MT840000.LocatedEntity" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="COCT_MT850000.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturer" type="COCT_MT840000.Manufacturer" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional" default="MANU"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Manufacturer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Material">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asObserved" type="COCT_MT840000.Observed" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asContactInfo" type="COCT_MT840000.ContactInfo" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asEmployment" type="COCT_MT840000.Employment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asQualifiedEntity" type="COCT_MT840000.QualifiedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asIdentifier" type="COCT_MT840000.Identifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asOwnedEntity" type="COCT_MT840000.OwnedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPartOfWhole" type="COCT_MT840000.PartOfWhole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="placeOfDeath" type="COCT_MT840000.PlaceOfDeath" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="relatedEntity" type="COCT_MT840000.RelatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="COCT_MT840000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="parts" type="COCT_MT840000.Parts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="locatedEntity" type="COCT_MT840000.LocatedEntity" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="COCT_MT850000.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassMaterial" use="optional" default="MAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.NonPersonLivingSubject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organDonorInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="strainText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="genderStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asObserved" type="COCT_MT840000.Observed" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asContactInfo" type="COCT_MT840000.ContactInfo" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asEmployment" type="COCT_MT840000.Employment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asQualifiedEntity" type="COCT_MT840000.QualifiedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asIdentifier" type="COCT_MT840000.Identifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asOwnedEntity" type="COCT_MT840000.OwnedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPartOfWhole" type="COCT_MT840000.PartOfWhole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="placeOfDeath" type="COCT_MT840000.PlaceOfDeath" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="relatedEntity" type="COCT_MT840000.RelatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="COCT_MT840000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="parts" type="COCT_MT840000.Parts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="locatedEntity" type="COCT_MT840000.LocatedEntity" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="COCT_MT850000.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="optional" default="NLIV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Observed">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subjectOf" type="COCT_MT840000.Subject" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="standardIndustryClassCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asObserved" type="COCT_MT840000.Observed" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asContactInfo" type="COCT_MT840000.ContactInfo" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asEmployment" type="COCT_MT840000.Employment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asQualifiedEntity" type="COCT_MT840000.QualifiedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asIdentifier" type="COCT_MT840000.Identifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asOwnedEntity" type="COCT_MT840000.OwnedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPartOfWhole" type="COCT_MT840000.PartOfWhole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="placeOfDeath" type="COCT_MT840000.PlaceOfDeath" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="relatedEntity" type="COCT_MT840000.RelatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="COCT_MT840000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="parts" type="COCT_MT840000.Parts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="locatedEntity" type="COCT_MT840000.LocatedEntity" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="COCT_MT850000.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.OwnedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="owningMaterial" type="COCT_MT840000.Material" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="owningOrganization" type="COCT_MT840000.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="owningPlace" type="COCT_MT840000.Place" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="owningPerson" type="COCT_MT840000.Person" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="owningNonPersonLivingSubject" type="COCT_MT840000.NonPersonLivingSubject" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="owningManufacturedMaterial" type="COCT_MT840000.ManufacturedMaterial" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="OWN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.PartOfWhole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="wholeMaterial" type="COCT_MT840000.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="wholeOrganization" type="COCT_MT840000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="wholePlace" type="COCT_MT840000.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="wholePerson" type="COCT_MT840000.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="wholeNonPersonLivingSubject" type="COCT_MT840000.NonPersonLivingSubject" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="wholeManufacturedMaterial" type="COCT_MT840000.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Parts">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="partMaterial" type="COCT_MT840000.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="partOrganization" type="COCT_MT840000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="partPlace" type="COCT_MT840000.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="partPerson" type="COCT_MT840000.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="partNonPersonLivingSubject" type="COCT_MT840000.NonPersonLivingSubject" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="partManufacturedMaterial" type="COCT_MT840000.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organDonorInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maritalStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="educationLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="disabilityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="livingArrangementCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="religiousAffiliationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="raceCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ethnicGroupCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asObserved" type="COCT_MT840000.Observed" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asContactInfo" type="COCT_MT840000.ContactInfo" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asEmployment" type="COCT_MT840000.Employment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asQualifiedEntity" type="COCT_MT840000.QualifiedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asIdentifier" type="COCT_MT840000.Identifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asOwnedEntity" type="COCT_MT840000.OwnedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPartOfWhole" type="COCT_MT840000.PartOfWhole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="placeOfDeath" type="COCT_MT840000.PlaceOfDeath" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="relatedEntity" type="COCT_MT840000.RelatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="COCT_MT840000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="parts" type="COCT_MT840000.Parts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="locatedEntity" type="COCT_MT840000.LocatedEntity" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="COCT_MT850000.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCommunication" type="COCT_MT840000.LanguageCommunication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="mobileInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="directionsText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="gpsText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asObserved" type="COCT_MT840000.Observed" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asContactInfo" type="COCT_MT840000.ContactInfo" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asEmployment" type="COCT_MT840000.Employment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asQualifiedEntity" type="COCT_MT840000.QualifiedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asIdentifier" type="COCT_MT840000.Identifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asManufacturedProduct" type="COCT_MT840000.ManufacturedProduct" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asOwnedEntity" type="COCT_MT840000.OwnedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPartOfWhole" type="COCT_MT840000.PartOfWhole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="placeOfDeath" type="COCT_MT840000.PlaceOfDeath" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="relatedEntity" type="COCT_MT840000.RelatedEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="COCT_MT840000.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="parts" type="COCT_MT840000.Parts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="locatedEntity" type="COCT_MT840000.LocatedEntity" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="COCT_MT850000.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="optional" default="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.PlaceOfDeath">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="playingLocale" type="COCT_MT840000.Locale" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.QualifiedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="qualificationGrantingOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="QUAL"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.RelatedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="relatedMaterial" type="COCT_MT840000.Material" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedOrganization" type="COCT_MT840000.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedPlace" type="COCT_MT840000.Place" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedPerson" type="COCT_MT840000.Person" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedNonPersonLivingSubject" type="COCT_MT840000.NonPersonLivingSubject" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedManufacturedMaterial" type="COCT_MT840000.ManufacturedMaterial" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassMutualRelationship" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.ScopingOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="COCT_MT840000.ObservationEvent" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT840000.TerritorialAuthority">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="governingLocale" type="COCT_MT840000.Locale" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="TERR"/>
   </xs:complexType>
</xs:schema>