trunk/conversion/input/schemas/messages/PORR_MT209001.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type PORR_MT209001.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT840000.xsd"/>
   <xs:include schemaLocation="COCT_MT220200.xsd"/>
   <xs:include schemaLocation="COCT_MT080000.xsd"/>
   <xs:include schemaLocation="COCT_MT090000.xsd"/>
   <xs:include schemaLocation="COCT_MT850000.xsd"/>
   <xs:complexType name="PORR_MT209001.Act">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.AnActReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="identifiedEntity" type="PORR_MT209001.IdentifiedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="roleReference" type="PORR_MT209001.RoleReference" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="act" type="PORR_MT209001.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="anActReference" type="PORR_MT209001.AnActReference" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="encounter" type="PORR_MT209001.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="exposure" type="PORR_MT209001.Exposure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="PORR_MT209001.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="organizer" type="PORR_MT209001.Organizer" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="PORR_MT209001.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="publicHealthCase" type="PORR_MT209001.PublicHealthCase" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="PORR_MT209001.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="PORR_MT209001.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Conditions">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="PORR_MT209001.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="manufacturedProduct" type="PORR_MT209001.ManufacturedProduct" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
               <xs:element name="content" type="COCT_MT220200.Content" minOccurs="1" maxOccurs="1"/>
               <xs:element name="medication" type="COCT_MT220200.Medication" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CSM"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="PORR_MT209001.Precondition2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Definition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actDefinition" type="PORR_MT209001.ActDefinition" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="INST"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.DirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="exposedEntity" type="PORR_MT209001.ExposedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDirect" use="optional" default="DIR"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Encounter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.ExposedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="exposedMaterial" type="COCT_MT840000.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposedOrganization" type="COCT_MT840000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposedPlace" type="COCT_MT840000.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposedPerson" type="COCT_MT840000.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposedNonPersonLivingSubject" type="COCT_MT840000.NonPersonLivingSubject" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposedManufacturedMaterial" type="COCT_MT840000.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:choice>
            <xs:element name="exposingMaterial" type="COCT_MT840000.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposingOrganization" type="COCT_MT840000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposingPlace" type="COCT_MT840000.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposingPerson" type="COCT_MT840000.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposingNonPersonLivingSubject" type="COCT_MT840000.NonPersonLivingSubject" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="exposingManufacturedMaterial" type="COCT_MT840000.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="part" type="PORR_MT209001.Part" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="EXPR"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Exposure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="directTarget" type="PORR_MT209001.DirectTarget" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.HealthCareFacility">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="PORR_MT209001.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceProviderScopingOrganization" type="PORR_MT209001.ScopingOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="optional" default="SDLOC"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.IdentifiedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="identifiedMaterial" type="COCT_MT840000.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="identifiedOrganization" type="COCT_MT840000.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="identifiedPlace" type="COCT_MT840000.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="identifiedPerson" type="COCT_MT840000.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="identifiedNonPersonLivingSubject" type="COCT_MT840000.NonPersonLivingSubject" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="identifiedManufacturedMaterial" type="COCT_MT840000.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="assigningScopingOrganization" type="PORR_MT209001.ScopingOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="IDENT"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.IdentifiedLocation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="identifiedPlace" type="PORR_MT209001.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assigningScopingOrganization" type="PORR_MT209001.ScopingOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="IDENT"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Informant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="COCT_MT850000.ContactParty" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="INF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="healthCareFacility" type="PORR_MT209001.HealthCareFacility" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="identifiedLocation" type="PORR_MT209001.IdentifiedLocation" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.ManufacturedMaterialKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional" default="KIND"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturedMaterialKind" type="PORR_MT209001.ManufacturedMaterialKind" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturerScopingOrganization" type="PORR_MT209001.ScopingOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional" default="MANU"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Observation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="PORR_MT209001.ReferenceRange" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.ObservationRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="PORR_MT209001.Precondition1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Organizer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="component" type="PORR_MT209001.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassContainer" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Part">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="identifiedEntity" type="PORR_MT209001.IdentifiedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="roleReference" type="PORR_MT209001.RoleReference" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="RoleLinkType" use="optional" fixed="PART"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.PartOfWhole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="wholePlace" type="PORR_MT209001.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PART"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="identifiedEntity" type="PORR_MT209001.IdentifiedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="roleReference" type="PORR_MT209001.RoleReference" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional" default="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="directionsText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="gpsText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asPartOfWhole" type="PORR_MT209001.PartOfWhole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="contactParty" type="COCT_MT850000.ContactParty" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="optional" default="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Precondition1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="PORR_MT209001.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="PORR_MT209001.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Procedure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="optional" default="PROC"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="manufacturedProduct" type="PORR_MT209001.ManufacturedProduct" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
               <xs:element name="content" type="COCT_MT220200.Content" minOccurs="1" maxOccurs="1"/>
               <xs:element name="medication" type="COCT_MT220200.Medication" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRD"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.PublicHealthCase">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="detectionMethodCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="transmissionModeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="diseaseImportedCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassPublicHealthCase" use="optional" default="CASE"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="identifiedEntity" type="PORR_MT209001.IdentifiedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="roleReference" type="PORR_MT209001.RoleReference" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.ReferenceRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observationRange" type="PORR_MT209001.ObservationRange" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFV"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.RoleReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.ScopingOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.SourceOf1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="act" type="PORR_MT209001.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="anActReference" type="PORR_MT209001.AnActReference" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="encounter" type="PORR_MT209001.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="exposure" type="PORR_MT209001.Exposure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="PORR_MT209001.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="organizer" type="PORR_MT209001.Organizer" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="PORR_MT209001.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="publicHealthCase" type="PORR_MT209001.PublicHealthCase" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="PORR_MT209001.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="PORR_MT209001.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.SourceOf2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="act" type="PORR_MT209001.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="anActReference" type="PORR_MT209001.AnActReference" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="encounter" type="PORR_MT209001.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="exposure" type="PORR_MT209001.Exposure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="PORR_MT209001.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="organizer" type="PORR_MT209001.Organizer" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="PORR_MT209001.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="publicHealthCase" type="PORR_MT209001.PublicHealthCase" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="PORR_MT209001.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="PORR_MT209001.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="identifiedEntity" type="PORR_MT209001.IdentifiedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="specimen" type="COCT_MT080000.Specimen" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="roleReference" type="PORR_MT209001.RoleReference" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maxDoseQuantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="administrationUnitCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="consumable" type="PORR_MT209001.Consumable" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORR_MT209001.Supply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="PORR_MT209001.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="product" type="PORR_MT209001.Product" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="PORR_MT209001.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="PORR_MT209001.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="PORR_MT209001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="informant" type="PORR_MT209001.Informant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_MT209001.Location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="definition" type="PORR_MT209001.Definition" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="PORR_MT209001.Conditions" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="PORR_MT209001.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="PORR_MT209001.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="optional" default="SPLY"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
   </xs:complexType>
</xs:schema>