trunk/conversion/input/schemas/messages/PRPA_MT201302.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT201302.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT150007.xsd"/>
   <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT820000.xsd"/>
   <xs:include schemaLocation="COCT_MT030207.xsd"/>
   <xs:include schemaLocation="COCT_MT030007.xsd"/>
   <xs:include schemaLocation="COCT_MT710007.xsd"/>
   <xs:include schemaLocation="COCT_MT670000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT150003UV03.xsd"/>
   <xs:include schemaLocation="COCT_MT180000UV04.xsd"/>
   <xs:complexType name="PRPA_MT201302.BirthPlace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthplace" type="COCT_MT710007.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="BIRTHPL"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.CareGiver.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.CareGiver.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.CareGiver.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.CareGiver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.CareGiver.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="careGiverPerson" type="COCT_MT030207.Person" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="CAREGIVER"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Citizen.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Citizen.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Citizen.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Citizen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.Citizen.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="politicalNation" type="PRPA_MT201302.Nation" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="CIT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.ContactParty.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.ContactParty.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.ContactParty.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.ContactParty.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="contactOrganization" type="COCT_MT150007.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="contactPerson" type="COCT_MT030207.Person" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="optional" default="CON"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.CoveredParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="policyOrAccount" type="COCT_MT180000UV04.PolicyOrAccount" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="COV"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Employee.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Employee.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Employee.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Employee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.Employee.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobTitleName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobClassCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="occupationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="employerOrganization" type="COCT_MT150007.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassEmployee" use="optional" default="EMP"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Group">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Guardian.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Guardian.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Guardian.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Guardian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.Guardian.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="guardianOrganization" type="COCT_MT150007.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="guardianPerson" type="COCT_MT030207.Person" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUARD"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.LanguageCommunication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="languageCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="proficiencyLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preferenceInd" type="BL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Member.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Member.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Member.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Member">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.Member.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="group" type="PRPA_MT201302.Group" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="MBR"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Nation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="NAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.NonPersonLivingSubject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organDonorInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="strainText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="genderStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asOtherIDs" type="PRPA_MT201302.OtherIDs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPatientOfOtherProvider" type="PRPA_MT201302.PatientOfOtherProvider" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asMember" type="PRPA_MT201302.Member" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="contactParty" type="PRPA_MT201302.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="guardian" type="PRPA_MT201302.Guardian" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="personalRelationship" type="PRPA_MT201302.PersonalRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="careGiver" type="PRPA_MT201302.CareGiver" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthPlace" type="PRPA_MT201302.BirthPlace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="guarantorRole" type="COCT_MT670000UV01.GuarantorRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="optional" default="NLIV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.OtherIDs.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.OtherIDs.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.OtherIDs.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.OtherIDs">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.OtherIDs.id" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scopingOrganization" type="COCT_MT150002UV01.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Patient.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Patient.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Patient.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Patient.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Patient.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Patient.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Patient.patientPerson">
      <xs:complexContent>
         <xs:extension base="PRPA_MT201302.Person">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Patient.patientPerson.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Patient.patientPerson.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Patient.patientNonPersonLivingSubject">
      <xs:complexContent>
         <xs:extension base="PRPA_MT201302.NonPersonLivingSubject">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Patient.patientNonPersonLivingSubject.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Patient.patientNonPersonLivingSubject.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.Patient.id" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPA_MT201302.Patient.statusCode" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="veryImportantPersonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patientPerson" type="PRPA_MT201302.Patient.patientEntityChoiceSubject" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="patientNonPersonLivingSubject" type="PRPA_MT201302.Patient.patientEntityChoiceSubject" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="providerOrganization" type="COCT_MT150003UV03.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="PRPA_MT201302.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="coveredPartyOf" type="PRPA_MT201302.CoveredParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.PatientOfOtherProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subjectOf" type="PRPA_MT201302.Subject" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Person.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Person.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Person.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.Person.id" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organDonorInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="maritalStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="educationLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="disabilityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="livingArrangementCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="religiousAffiliationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="raceCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ethnicGroupCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asOtherIDs" type="PRPA_MT201302.OtherIDs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPatientOfOtherProvider" type="PRPA_MT201302.PatientOfOtherProvider" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asEmployee" type="PRPA_MT201302.Employee" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asCitizen" type="PRPA_MT201302.Citizen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asStudent" type="PRPA_MT201302.Student" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asMember" type="PRPA_MT201302.Member" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="contactParty" type="PRPA_MT201302.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="guardian" type="PRPA_MT201302.Guardian" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="personalRelationship" type="PRPA_MT201302.PersonalRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="careGiver" type="PRPA_MT201302.CareGiver" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthPlace" type="PRPA_MT201302.BirthPlace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="guarantorRole" type="COCT_MT670000UV01.GuarantorRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCommunication" type="PRPA_MT201302.LanguageCommunication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.PersonalRelationship.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.PersonalRelationship.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.PersonalRelationship.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.PersonalRelationship.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="relationshipHolder1" type="COCT_MT030007.Person" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relationshipHolder2" type="COCT_MT030007.NonPersonLivingSubject" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Student.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT201302.Student.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT201302.Student.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT201302.Student">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT201302.Student.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="schoolOrganization" type="COCT_MT150007.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="STD"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="careProvision" type="COCT_MT820000.CareProvision" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201302.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="PRPA_MT201302.ObservationEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
</xs:schema>