trunk/conversion/input/schemas/messages/PRPM_MT306110.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type PRPM_MT306110.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT920000.xsd"/>
   <xs:complexType name="PRPM_MT306110.ActDefinitionOrEvent.location">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Location">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.ActDefinitionOrEvent.location.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.ActDefinitionOrEvent.location.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.ActDefinitionOrEvent.sequel">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.SequelTo">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.ActDefinitionOrEvent.sequel.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.ActDefinitionOrEvent.sequel.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.ActDefinitionOrEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="PRPM_MT306110.ActDefinitionOrEvent.location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sequel" type="PRPM_MT306110.ActDefinitionOrEvent.sequel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Affiliate">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="affiliatedPrincipalPerson" type="PRPM_MT306110.PrincipalPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="affiliatedPrincipalOrganization" type="PRPM_MT306110.PrincipalOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="AFFL"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.AlsoKnownas">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="samePrincipalPerson" type="PRPM_MT306110.PrincipalPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="SAME"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.AssignedEntity.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.AssignedEntity.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.AssignedEntity.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.AssignedEntity.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.AssignedEntity.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.AssignedEntity.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity.subjectOf1">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject2">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.AssignedEntity.subjectOf1.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.AssignedEntity.subjectOf1.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity.subjectOf3">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject8">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.AssignedEntity.subjectOf3.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.AssignedEntity.subjectOf3.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity.subjectOf4">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject9">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.AssignedEntity.subjectOf4.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.AssignedEntity.subjectOf4.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity.responsibleFor">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.ResponsibleParty">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.AssignedEntity.responsibleFor.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.AssignedEntity.responsibleFor.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity.relatedTo">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.RelatedTo">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.AssignedEntity.relatedTo.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.AssignedEntity.relatedTo.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPM_MT306110.AssignedEntity.id" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="PRPM_MT306110.AssignedEntity.addr" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPM_MT306110.AssignedEntity.telecom" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPrincipalPerson" type="PRPM_MT306110.PrincipalPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="representedOrganization" type="PRPM_MT306110.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf1" type="PRPM_MT306110.AssignedEntity.subjectOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf2" type="PRPM_MT306110.Subject3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="PRPM_MT306110.AssignedEntity.subjectOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf4" type="PRPM_MT306110.AssignedEntity.subjectOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="responsibleFor" type="PRPM_MT306110.AssignedEntity.responsibleFor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="performance" type="PRPM_MT306110.PrimaryPerformer3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="relatedTo" type="PRPM_MT306110.AssignedEntity.relatedTo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.AssignedEntity2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="PRPM_MT306110.Subject7" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Birthplace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="BIRTHPL"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.ControlActEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="PRPM_MT306110.DataEnterer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="custodian" type="PRPM_MT306110.Custodian" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassControlAct" use="optional" default="CACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Custodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="PRPM_MT306110.AssignedEntity2" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="PRPM_MT306110.AssignedEntity2" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ENT"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.DisciplinaryAction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="DISPACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.subjectOf1">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject2">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.subjectOf1.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.subjectOf1.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.subjectOf3">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject8">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.subjectOf3.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.subjectOf3.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.subjectOf4">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject9">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.subjectOf4.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.subjectOf4.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.responsibleFor">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.ResponsibleParty">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.responsibleFor.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.responsibleFor.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider.relatedTo">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.RelatedTo">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.HealthCareProvider.relatedTo.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.HealthCareProvider.relatedTo.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.HealthCareProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPM_MT306110.HealthCareProvider.id" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="PRPM_MT306110.HealthCareProvider.addr" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPM_MT306110.HealthCareProvider.telecom" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPM_MT306110.HealthCareProvider.statusCode" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="healthCarePrincipalPerson" type="PRPM_MT306110.PrincipalPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="issuingOrganization" type="PRPM_MT306110.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf1" type="PRPM_MT306110.HealthCareProvider.subjectOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf2" type="PRPM_MT306110.Subject3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="PRPM_MT306110.HealthCareProvider.subjectOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf4" type="PRPM_MT306110.HealthCareProvider.subjectOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="responsibleFor" type="PRPM_MT306110.HealthCareProvider.responsibleFor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="relatedTo" type="PRPM_MT306110.HealthCareProvider.relatedTo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PROV"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.InformDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INFRM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.InformRequest.subject">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject5">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.InformRequest.subject.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.InformRequest.subject.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.InformRequest.receiver">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Receiver">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.InformRequest.receiver.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.InformRequest.receiver.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.InformRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subject" type="PRPM_MT306110.InformRequest.subject" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="receiver" type="PRPM_MT306110.InformRequest.receiver" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INFRM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Jurisdiction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="optional" default="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.LanguageCommunication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="languageCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="proficiencyLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preferenceInd" type="BL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="serviceDeliveryLocation" type="PRPM_MT306110.ServiceDeliveryLocation" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Note">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="territorialAuthority" type="PRPM_MT306110.TerritorialAuthority" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Part">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="territorialAuthority" type="PRPM_MT306110.TerritorialAuthority" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="RoleLinkType" use="optional" fixed="PART"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="optional" default="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.PrimaryPerformer3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actDefinitionOrEvent" type="PRPM_MT306110.ActDefinitionOrEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PPRF"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.PrincipalOrganization.name" mixed="true">
      <xs:complexContent>
         <xs:extension base="EN">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.PrincipalOrganization.name.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.PrincipalOrganization.name.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.PrincipalOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="PRPM_MT306110.PrincipalOrganization.name" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.PrincipalPerson.name" mixed="true">
      <xs:complexContent>
         <xs:extension base="EN">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.PrincipalPerson.name.updateMode"/>
            <xs:attribute name="unsorted" type="xs:boolean" default="false"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.PrincipalPerson.name.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.PrincipalPerson.administrativeGenderCode">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.PrincipalPerson.administrativeGenderCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.PrincipalPerson.administrativeGenderCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.PrincipalPerson.birthTime">
      <xs:complexContent>
         <xs:extension base="TS">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.PrincipalPerson.birthTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.PrincipalPerson.birthTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.PrincipalPerson.deceasedTime">
      <xs:complexContent>
         <xs:extension base="TS">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.PrincipalPerson.deceasedTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.PrincipalPerson.deceasedTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.PrincipalPerson.birthplace">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Birthplace">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.PrincipalPerson.birthplace.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.PrincipalPerson.birthplace.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.PrincipalPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="PRPM_MT306110.PrincipalPerson.name" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="administrativeGenderCode" type="PRPM_MT306110.PrincipalPerson.administrativeGenderCode" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="PRPM_MT306110.PrincipalPerson.birthTime" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="PRPM_MT306110.PrincipalPerson.deceasedTime" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asAffiliate" type="PRPM_MT306110.Affiliate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asAlsoKnownas" type="PRPM_MT306110.AlsoKnownas" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="PRPM_MT306110.PrincipalPerson.birthplace" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCommunication" type="PRPM_MT306110.LanguageCommunication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Privilege">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf" type="PRPM_MT306110.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="x_ActMoodPermPermrq" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.PrivilegeCategorization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.QualifiedEntity.subjectOf1">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject2">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.QualifiedEntity.subjectOf1.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.QualifiedEntity.subjectOf1.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.QualifiedEntity.subjectOf3">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject8">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.QualifiedEntity.subjectOf3.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.QualifiedEntity.subjectOf3.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.QualifiedEntity.subjectOf4">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.Subject9">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.QualifiedEntity.subjectOf4.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.QualifiedEntity.subjectOf4.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.QualifiedEntity.responsibleFor">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.ResponsibleParty">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.QualifiedEntity.responsibleFor.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.QualifiedEntity.responsibleFor.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.QualifiedEntity.relatedTo">
      <xs:complexContent>
         <xs:extension base="PRPM_MT306110.RelatedTo">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.QualifiedEntity.relatedTo.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.QualifiedEntity.relatedTo.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.QualifiedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="equivalenceInd" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="qualifiedPrincipalPerson" type="PRPM_MT306110.PrincipalPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="qualificationGrantingOrganization" type="PRPM_MT306110.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf1" type="PRPM_MT306110.QualifiedEntity.subjectOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf2" type="PRPM_MT306110.Subject3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="PRPM_MT306110.QualifiedEntity.subjectOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf4" type="PRPM_MT306110.QualifiedEntity.subjectOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="responsibleFor" type="PRPM_MT306110.QualifiedEntity.responsibleFor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="relatedTo" type="PRPM_MT306110.QualifiedEntity.relatedTo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="QUAL"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Receiver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="healthCareProvider" type="PRPM_MT306110.HealthCareProvider" minOccurs="1" maxOccurs="1"/>
            <xs:element name="serviceDeliveryLocation" type="PRPM_MT306110.ServiceDeliveryLocation" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCV"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.RelatedTo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedEntity" type="PRPM_MT306110.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="healthCareProvider" type="PRPM_MT306110.HealthCareProvider" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="qualifiedEntity" type="PRPM_MT306110.QualifiedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="RelatedLinkType" use="optional" default="REL"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.ResponsibleParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="privilege" type="PRPM_MT306110.Privilege" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.RoleActivation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="PRPM_MT306110.Subject6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassControlAct" use="optional" default="CACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.SequelTo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informRequest" type="PRPM_MT306110.InformRequest" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipSequel" use="optional" default="SEQL"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.ServiceDeliveryLocation.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.ServiceDeliveryLocation.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.ServiceDeliveryLocation.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.ServiceDeliveryLocation.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:sequence>
               <xs:element name="controlActReferenceId" type="II" minOccurs="0" maxOccurs="1"/>
               <xs:element name="validTime" type="TS" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="updateMode" type="PRPM_MT306110.ServiceDeliveryLocation.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPM_MT306110.ServiceDeliveryLocation.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPM_MT306110.ServiceDeliveryLocation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="addr" type="PRPM_MT306110.ServiceDeliveryLocation.addr" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPM_MT306110.ServiceDeliveryLocation.telecom" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="PRPM_MT306110.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="optional" default="SDLOC"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="disciplinaryAction" type="PRPM_MT306110.DisciplinaryAction" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="controlActEvent" type="COCT_MT920000.ControlActEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="roleActivation" type="PRPM_MT306110.RoleActivation" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="privilegeCategorization" type="PRPM_MT306110.PrivilegeCategorization" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Subject5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="modeCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="serviceDeliveryLocation" type="PRPM_MT306110.ServiceDeliveryLocation" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Subject6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="controlActEvent" type="PRPM_MT306110.ControlActEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Subject7">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="PRPM_MT306110.ObservationEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Subject8">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="informDefinition" type="PRPM_MT306110.InformDefinition" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.Subject9">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="note" type="PRPM_MT306110.Note" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306110.TerritorialAuthority">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="territory" type="PRPM_MT306110.Jurisdiction" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="part" type="PRPM_MT306110.Part" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="TERR"/>
   </xs:complexType>
</xs:schema>