trunk/conversion/input/schemas/messages/REDS_HD020001.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type REDS_HD020001.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:complexType name="REDS_HD020001.Alert">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ALRT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.AssignedAuthor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="assignedPerson" type="REDS_HD020001.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="representedOrganization" type="REDS_HD020001.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.AssignedCustodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="REDS_HD020001.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="assignedOrganization" type="REDS_HD020001.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.AssignedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="assignedPerson" type="REDS_HD020001.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="representedOrganization" type="REDS_HD020001.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Authenticator">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="REDS_HD020001.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUTHEN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedAuthor" type="REDS_HD020001.AssignedAuthor" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organizer" type="REDS_HD020001.Organizer" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="milestone" type="REDS_HD020001.Milestone" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="targetCompletion" type="REDS_HD020001.TargetCompletion" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Component4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organizer" type="REDS_HD020001.Organizer" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="REDS_HD020001.ManufacturedProduct" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CSM"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.CriterionGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="precondition" type="REDS_HD020001.Precondition2" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Custodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedCustodian" type="REDS_HD020001.AssignedCustodian" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Description">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Entry">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="externalOrderSet" type="REDS_HD020001.ExternalOrderSet" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="REDS_HD020001.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="REDS_HD020001.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="REDS_HD020001.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="REDS_HD020001.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="x_ActRelationshipEntry" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.ExternalDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="optional" default="DOC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.ExternalOrderSet">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reference" type="REDS_HD020001.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1" type="REDS_HD020001.PertinentInformation4" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="REDS_HD020001.PertinentInformation5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="REDS_HD020001.PertinentInformation6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="optional" default="DOC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.LabeledDrug">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional" default="KIND"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="manufacturedLabeledDrug" type="REDS_HD020001.LabeledDrug" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="manufacturedMaterial" type="REDS_HD020001.Material" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="manufacturerOrganization" type="REDS_HD020001.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional" default="MANU"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Material">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional" default="KIND"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Milestone">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component" type="REDS_HD020001.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Observation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reference" type="REDS_HD020001.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1" type="REDS_HD020001.PertinentInformation4" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="REDS_HD020001.PertinentInformation5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="REDS_HD020001.PertinentInformation6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.OrderSetDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="REDS_HD020001.Author" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="custodian" type="REDS_HD020001.Custodian" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="authenticator" type="REDS_HD020001.Authenticator" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="REDS_HD020001.Participant" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reference" type="REDS_HD020001.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="relatedDocument" type="REDS_HD020001.RelatedDocument" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="precondition" type="REDS_HD020001.Precondition1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="REDS_HD020001.PertinentInformation3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="summary" type="REDS_HD020001.Summary" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component1" type="REDS_HD020001.Component2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="component2" type="REDS_HD020001.Component1" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="optional" default="DOC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Organizer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="entry" type="REDS_HD020001.Entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="component" type="REDS_HD020001.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassOrganizer" use="optional" default="ORGANIZER"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.ParentDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="optional" default="DOC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Participant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="personal" type="REDS_HD020001.Personal" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Personal">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="assignedPerson" type="REDS_HD020001.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.PertinentInformation3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="useCase" type="REDS_HD020001.UseCase" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.PertinentInformation4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="strengthOfRecommendation" type="REDS_HD020001.StrengthOfRecommendation" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.PertinentInformation5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="alert" type="REDS_HD020001.Alert" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.PertinentInformation6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="selectionStatus" type="REDS_HD020001.SelectionStatus" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Precondition1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="criterion" type="REDS_HD020001.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="criterionGroup" type="REDS_HD020001.CriterionGroup" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="problemContext" type="REDS_HD020001.ProblemContext" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sessionContext" type="REDS_HD020001.SessionContext" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="criterion" type="REDS_HD020001.Criterion" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="criterionGroup" type="REDS_HD020001.CriterionGroup" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="problemContext" type="REDS_HD020001.ProblemContext" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sessionContext" type="REDS_HD020001.SessionContext" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.ProblemContext">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Procedure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reference" type="REDS_HD020001.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1" type="REDS_HD020001.PertinentInformation4" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="REDS_HD020001.PertinentInformation5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="REDS_HD020001.PertinentInformation6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="optional" default="PROC"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="REDS_HD020001.ManufacturedProduct" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRD"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="externalDocument" type="REDS_HD020001.ExternalDocument" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="x_ActRelationshipExternalReference" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.RelatedDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="parentDocument" type="REDS_HD020001.ParentDocument" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.SelectionStatus">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.SessionContext">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.StrengthOfRecommendation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maxDoseQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="consumable" type="REDS_HD020001.Consumable" minOccurs="1" maxOccurs="1"/>
         <xs:element name="reference" type="REDS_HD020001.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1" type="REDS_HD020001.PertinentInformation4" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="REDS_HD020001.PertinentInformation5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="REDS_HD020001.PertinentInformation6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Summary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="description" type="REDS_HD020001.Description" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUMM"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.Supply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="product" type="REDS_HD020001.Product" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="reference" type="REDS_HD020001.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1" type="REDS_HD020001.PertinentInformation4" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation2" type="REDS_HD020001.PertinentInformation5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="REDS_HD020001.PertinentInformation6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="optional" default="SPLY"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.TargetCompletion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="GOL"/>
   </xs:complexType>
   <xs:complexType name="REDS_HD020001.UseCase">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
</xs:schema>