trunk/conversion/input/schemas/messages/REPC_MT002000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type REPC_MT002000.
* Source information:
*     Rendered by: RoseTree 3.0.19
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="REPC_MT000700.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090400.xsd"/>
   <xs:include schemaLocation="COCT_MT910000.xsd"/>
   <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
   <xs:include schemaLocation="REPC_MT000301.xsd"/>
   <xs:include schemaLocation="REPC_MT000200.xsd"/>
   <xs:include schemaLocation="REPC_MT004000.xsd"/>
   <xs:include schemaLocation="REPC_MT000100.xsd"/>
   <xs:include schemaLocation="COCT_MT010000UV01.xsd"/>
   <xs:include schemaLocation="REPC_MT000400.xsd"/>
   <xs:complexType name="REPC_MT002000.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedParty" type="COCT_MT090400.AssignedParty" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
               <xs:element name="careGiver" type="COCT_MT910000.CareGiver" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="employee" type="COCT_MT910000.Employee" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000.PersonalRelationship" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000.Student" nillable="true" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.CareProvisionRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="REPC_MT002000.Subject3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT002000.RecordTarget" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="REPC_MT002000.Performer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="REPC_MT002000.Author" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dataEnterer" type="REPC_MT002000.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryInformationRecipient" type="REPC_MT002000.PrimaryInformationRecipient" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="verifier" type="REPC_MT002000.Verifier" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="replacementOf" type="REPC_MT002000.ReplacementOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reason" type="REPC_MT002000.Reason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1" type="REPC_MT002000.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="REPC_MT002000.PertinentInformation3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation3" type="REPC_MT002000.PertinentInformation5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reference" type="REPC_MT002000.Reference" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component1" type="REPC_MT002000.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="component2" type="REPC_MT002000.Component8" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="PCPR"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.Component8">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ENT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedParty" type="COCT_MT090400.AssignedParty" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
               <xs:element name="careGiver" type="COCT_MT910000.CareGiver" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="employee" type="COCT_MT910000.Employee" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000.PersonalRelationship" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000.Student" nillable="true" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional" default="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.PertinentInformation3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.PertinentInformation5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.PrimaryInformationRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedParty" type="COCT_MT090400.AssignedParty" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
               <xs:element name="careGiver" type="COCT_MT910000.CareGiver" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="employee" type="COCT_MT910000.Employee" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000.PersonalRelationship" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true" minOccurs="1" maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000.Student" nillable="true" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRCP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.ReplacementOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="careProvisionRequest" type="REPC_MT002000.CareProvisionRequest" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipReplacement" use="optional" default="RPLC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT002000.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationVerifier" use="optional" default="VRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
</xs:schema>