trunk/conversion/input/schemas/messages/REPC_MT000003.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type REPC_MT000003.
* Source information:
*     Rendered by: RoseTree 3.0.22
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*     Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.1 2006/05/23 23:05:37 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="http://svn.berlios.de/svnroot/repos/veggente/trunk/conversion/input/schemas/coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090000.xsd"/>
   <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT120500.xsd"/>
   <xs:include schemaLocation="COCT_MT010001UV01.xsd"/>
   <xs:complexType name="REPC_MT000003.ChronicIndicator">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="LIST"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000003.ConditionEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000003.Subject2" minOccurs="1" maxOccurs="1"/>
         <xs:element name="informant" type="REPC_MT000003.Informant" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="predecessor" type="REPC_MT000003.Predecessor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf1" type="REPC_MT000003.Subject5" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf2" type="REPC_MT000003.Subject3" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf3" type="REPC_MT000003.Subject4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassCondition" use="optional" default="COND"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000003.Informant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedEntity" type="COCT_MT090000.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="INF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000003.OldCondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassCondition" use="optional" default="COND"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000003.Predecessor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="oldCondition" type="REPC_MT000003.OldCondition" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipSucceeds" use="optional" default="SUCC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000003.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050000UV01.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000003.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationGeneral" type="COCT_MT120500.ObservationGeneral" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000003.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010001UV01.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000003.Subject5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="chronicIndicator" type="REPC_MT000003.ChronicIndicator" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
</xs:schema>